*.bcp text eol=crlf
*.bli text eol=crlf
*.bwr text eol=crlf
*.c text eol=crlf
*.ccl text eol=crlf
*.clisp text eol=crlf
*.cmd text eol=crlf
*.doc text eol=crlf
*.el text eol=crlf
*.emacs text eol=crlf
*.for text eol=crlf
*.h text eol=crlf
*.help text eol=crlf
*.info text eol=crlf
*.lisp text eol=crlf
*.log text eol=crlf
*.mac text eol=crlf
*.mail text eol=crlf
*.mak text eol=crlf
*.man text eol=crlf
*.manual text eol=crlf
*.mem text eol=crlf
*.msg text eol=crlf
*.mss text eol=crlf
*.pas text eol=crlf
*.pl text eol=crlf
*.rno text eol=crlf
*.sai text eol=crlf
*.-this- text eol=crlf
*.txt text eol=crlf
