;XX:<DOMAIN>RESOLV.CONFIG.1,  3-Dec-87 11:30:15, Edit by SRA
;
; This is the configuration file for XX's domain resolver.
; At the moment there isn't any documentation other than this
; file to explain why certain things are set up the way they are.
;
; Default (safety belt) nameservers.  These are contacted when we
; are completely unable to figure out who ask a particular query.
DSERVE	10.0.0.51		;SRI-NIC.ARPA.
DSERVE	10.1.0.17		;TERP.UMD.EDU.
DSERVE	18.10.0.86		;MILO.LCS.MIT.EDU.
DSERVE	18.26.0.115		;ALLSPICE.LCS.MIT.EDU.
;
; Locally loaded zones and search paths.
;
; Load Tech Square zones (LCS & AI) for the benefit of MX searches.
ZLOAD		LCS.MIT.EDU.	DOMAIN:LCS.ZONE
LSEARCH 	LCS.MIT.EDU.
ZLOAD		AI.MIT.EDU.	DOMAIN:AI.ZONE
LSEARCH		AI.MIT.EDU.
;
; Maybe try loading the root zone someday.  Last time I tried this
; there weren't enough glue RRs in the root zone and it lost big.
;ZLOAD	.			DOMAIN:ROOT.ZONE
;
; Remote searches.
RSEARCH		.		;Try for fully specified name first
RSEARCH 	MIT.EDU.	;Next try MIT
RSEARCH 	ARPA.		;Last try transition zone, then give up.
;
; Cache preloading.  Not to be used without a doctor's prescription.
;CLOAD				DOMAIN:CACHE.ZONE
;
; Privileged user(s) who can send resolver control messages
WHOPR		SRA		;Rob Austein
WHOPR		OPERATOR	;System Jobs
;
; That's all.
