; Default (safety belt) nameservers.  These are contacted when we
; are completely unable to figure out who ask a particular query.
DSERVE	10.0.0.1
DSERVE	10.0.0.3
;
; Locally loaded zones and search paths.
;
; Remote searches.
RSEARCH		.		;Try for fully specified name first
RSEARCH 	MYDOMAIN.COM.
;
; Privileged user(s) who can send resolver control messages
WHOPR		OPERATOR	;System Jobs
